@import 'https://fonts.googleapis.com/css?family=Montserrat';

*::-moz-focus-inner, *::-moz-focus-inner{
	border:0;
}
*{  
    font-family:'Montserrat';
    font-size:14px;
    outline:0;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

html,body{
    margin:0;
    padding:0;
}

#logo{
    position:relative;
    width:300px;
    height:100px;
    margin:-25px auto 0 auto;
    background:url(assets/logo.svg) no-repeat center;
}
/*#logo:after{
    font-size:12px;
    position:absolute;
    top:23px;right:35px;
    color:#fff;
    content:'Beta';
}*/
.container{
    position:fixed;
    white-space:nowrap;
}

.left,.right{
    position:relative;
    vertical-align:middle;
    color:#fff;
    /*margin-top:-20px;
    padding-top:20px;*/
}
.left:before{
    position:absolute;
    /*top:0;left:5px;
    padding-left:20px;*/
    top:25px;left:15px;
    width:20px;
    height:20px;
    background:url(assets/ui/user.svg) no-repeat 0 center;
    content:'';
    /*content:'Enter Name :';*/
}
.right:before{
    position:absolute;
    top:10px;left:10px;
    text-transform:capitalize;
    content:attr(job);
}
.right{
    text-align:right;
    color:rgba(0,0,0,0.5);
    margin:0 0 0 20px;
    padding:15px;
    background:rgba(255,255,255,0.6);
    border-radius:5px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1); 
}

input::-webkit-input-placeholder{
	color:#fff !important;
    opacity:0.5 !important;
}
input:-moz-placeholder{
	color:#fff !important;
    opacity:0.5 !important;
}
input::-moz-placeholder{
	color:#fff !important;
    opacity:0.5 !important;
}
input:-ms-input-placeholder{  
	color:#fff !important;
    opacity:0.5 !important;
}
input{
    text-align:center;
    width:180px;
    margin:10px 0;
    padding:15px 15px 15px 25px;
    color:#fff;
    background:rgba(0,0,0,0.4);
    border-radius:4px;
    outline:0;
    border:0;
    -webkit-user-select: text;  
    -moz-user-select: text;    
    -ms-user-select: text;      
    user-select: text;
}
input.text{
    font-size:13px;
    position:fixed;
    bottom:15px;
    padding:12px;
}
.play{
    font-size:24px;
    display:block;
    margin:10px auto;
    padding:12px 30px;
    color:#fff;
    background:transparent;
    border:2px solid #fff;
    border-radius: 4px;
}
.play:hover{
    color:#3DB148;
    background:#fff;
    cursor:pointer;
}
.play[disabled]{
    opacity:0.25;
}

.top button{
    width:30px;
    height:30px;
    margin-left:8px;
    padding:0;
    outline:0;
    border:0;
    border:5px solid transparent;
    border-radius:50%;
    cursor:pointer;
}
.top button.selected{
    border:5px solid #fff;
}

.selector img{
    vertical-align:middle;
    width:256px;
    height:256px;
    margin:-80px -40px -30px -40px;
    pointer-events:none;
}
.selector button{
    vertical-align:middle;
    width:30px;
    height:100px;
    outline:0;
    border:0;
    cursor:pointer;
}
.ui-left{
    background:url(assets/ui/left.svg) no-repeat center;
}
.ui-right{
    background:url(assets/ui/right.svg) no-repeat center;
}

.fb-share{
    position:fixed !important;
    top:12px;right:12px;
    width:30px;
    height:30px;
    background:url(assets/ui/fb.png) no-repeat center;
    background-size:contain;
    border:3px solid transparent;
    border-radius:2px;
}
.fb-share:hover{
    cursor:pointer;
    border:3px solid #fff;
}